---
import Hero from "../components/Hero.astro";
import Project from "../components/Project.astro";
import WhoAmI from "../components/WhoAmI.astro";
import Main from "../layouts/Main.astro"
import Skills from "../components/Skills.svelte"
import GetHomepage from "../queries/homepage"
import GetPortfolio from "../queries/portfolio";
const home = await GetHomepage(process.env.NETLIFY ? process.env.TOKEN : import.meta.env.TOKEN)
const {allProjets} = await GetPortfolio(process.env.NETLIFY ? process.env.TOKEN : import.meta.env.TOKEN)
---
<Main>
	<Hero text={home.index.texte} hand={home.index.image}/>
	<WhoAmI text={home.index.description} image={home.index.photoDeTristan}/>
	<section class="w-full max-w-6xl px-4 mx-auto text-white lg:px-0">
		<h2 class="text-3xl text-center">Mes réalisations</h2>
		<Project data={allProjets[0]}/>
		<Project data={allProjets[1]}/>
	</section>
	<Skills client:load skills={home.index.services}/>
</Main>