---
import GetMeta from '../queries/meta';
import "../css/app.css"
import SocialLinks from '../components/SocialLinks.astro';
import GetSocialLinks from '../queries/sociallinks';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
const social = await GetSocialLinks()
const meta = await GetMeta();

const {title} = Astro.props
const url = new URL(Astro.canonicalURL)
let displayTitle = title ? title + " " + meta.globalSeo.titleSuffix : meta.globalSeo.siteName + " " + meta.globalSeo.titleSuffix
---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!--Favicon-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href={meta.favicon.url}>
    <title>{displayTitle}</title>


    <meta name="description" content={meta.globalSeo.fallbackSeo.description}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={url.href}>
    <meta property="og:title" content={displayTitle}>
    <meta property="og:description" content={meta.globalSeo.fallbackSeo.description}>
    <meta property="og:image" content={meta.globalSeo.fallbackSeo.image.url}>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={url.href}>
    <meta property="twitter:title" content={displayTitle}>
    <meta property="twitter:description" content={meta.globalSeo.fallbackSeo.description}>
     <meta property="twitter:image" content={meta.globalSeo.fallbackSeo.image.url}>
    <script async defer src="https://nullitics.com/script.js"></script>
</head>
<body class="bg-[#151515]">
    <Nav icon={meta.favicon.url} current={url}/>
    <SocialLinks links={social}/>
    <slot/>
    <Footer/>
    <script>
        import "../scripts/app.js"
    </script>
</body>
</html>